.wrapper {
  @include open-sans($font-base);
  color: #585858;
}
body {
  font-size: 14px;
}
.heading {
  font: 700 18px 'Raleway', sans-serif;
}
.font-custom {
  font: italic 16px 'Lora', serif;
}
.text-proxima {
  font: 600 13px 'PNR', sans-serif;
}
a{
  @include open-sans($font-base);
  color: white;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  -webkit-transition:  all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
a:hover, a:active {
  color: #ffaf36;
}
.active {
  body & {
    color: #ffaf36;
    border-color: #ffaf36;
  }
}
.call-to-action{
  width: 151px;
  height: 51px;
  border: 2px solid #ffaf36;
  margin-right: -15px;
  font: 700 13px 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #ffaf36;
  text-align: center;
  padding: 1rem 1rem;
}
.submit-button{
  display: block;
  margin-top: 0.5rem;
  border-radius: 0;
}
.hover-visibility {
  &:hover {
    opacity: 0.6;
  }
}
.hover-transition {
  transition: all 0.3s ease-out;
  -webkit-transition:  all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.font-huge {
  font-size: 30px;
  font-weight: 800;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-large {
  font-size: 16px;
}
.font-small {
  font-size: 12px;
}
.font-medium {
  font-size: 15px;
}
.line-h-base {
  line-height: 28px;
}
.line-h-big {
  line-height: 30px;
}
.line-h-medium{
  line-height: 24px;
}
.text-black {
  color: #1c1c1c;
}
.text-pale-blue {
  color: #dbefff;
}
.text-dark-gray{
  color: #757575;
}
.text-light-orange {
  color: #ffaf36;
}
.bg-transp {
  background-color: transparent;
}
.bg-blue {
  background-color: #36a8ff;
}
.bg-light-blue {
  background-color: #eaeff3;
}
.bg-light-orange {
  background-color: #ffaf36;
}
.bg-white {
  background-color: white;
}
.page-content-header {
  width: 100%;
  padding-top: 6.3rem;
  margin-bottom: 1.5rem;
}
.form-border-b {
  border-bottom: 1px solid #dce3e8;
}
.border-none {
  border: none;
}
.border-r-zero {
  border-radius: 0;
}
.resize-none {
  resize: none;
}
.pb-base {
  padding-bottom: 6.3rem;
}
.p-rl-base {
  padding-right: 15px;
  padding-left: 15px;
}
.m-rl-base {
  margin-right: 15px;
  margin-left: 15px;
}

.pb-pyramids {
  padding-bottom: 101px;
}
.pagination-item {
  display: block;
  width: 51px;
  height: 51px;
  margin: 0 3px;
  border: 2px solid #2a2b2c;
  text-align: center;
  line-height: 2.5;
  font-size: 18px;
  color: #2a2b2c;
  &:hover {
    border: 2px solid #ffaf36;
    color: #ffaf36;
  }
}

.flex-items-xl-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.flex-column {
  flex-direction: column;
}
.flex-grow-zero {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

