@font-face {
  font-family: 'PNR';
  src: url('../fonts/webfontkit-20161127-070003/PNR.otf');
  src: url('../fonts/webfontkit-20161127-070003/pnr-webfont.woff2') format('woff2'),
  url('../fonts/webfontkit-20161127-070003/pnr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}