@import "form-item";
@import "mixin";
.site-footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2a2b2c;
  .logo {
    display: block;
    margin-top: 3rem;
  }
  .site-footer-copyright {
    margin-top: 1em;
  }

  .footer-nav {
    margin-top: 1em;
    .footer-nav-item {
      position: relative;

      border-bottom: 1px solid #373839;

      a{
        display: block;
        padding: 1em 0 1em 25px ;
        font-size: 13px;
        font-weight: 600;
        color: #7b7b7c;
        &::before{
          position: absolute;
          top: 1.5em;
          left: 0;
          content: "";
          width: 0;
          height: 0;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-left: 3px solid #ffaf36;
        }
        &:hover {
          color: #ffaf36;
        }
      }
    }
  }
  .footer-form {
    margin-top: 2rem;
    .form-item{
      border-radius: 0;
      &[placeholder]  {
        padding: 1em;
        color: #737476;
      }
     /* @include placeholder {
        padding: 1em;
        color: #737476;
      }*/
    }
    .form-border {
      border: 1px solid #373839;
    }
    .form-name, .form-email {
      width: 50%;
      height: 47px;
    }
    .form-comment {
      width: 100%;
    }
  }
}