/*-------------------------------------IMPORTS---------------------------------------*/
@import "application";
@import "mixin";
/*----------------------------------------------------------------------------------*/
.about-us-story {
  margin-bottom: 5rem;
}
.actions-section {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 1140px;
  height: 400px;
  margin-bottom: 5rem;
  background: #000;

  .call-to-action {
    z-index: 2;
    margin: 0 1rem;
  }
  .actions-section-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
  }
}
.our-views {
  .container {
    //padding-bottom: 101px; - if last child isn't row-reverse
    padding-bottom: 50px;
  }
  .pyramids {
    &::before {
      left: 0;
    }
    &::after{
      left: 80px;
    }
  }
  .concept-item:nth-child(2n) {
  @include flex-flow (row-reverse)
}
  .concept-img {
    width: 263px;
    height: 176px;
  }
}
.clients-section {
  .container {
    padding-bottom: 101px;
  }
  .clients {
    border: 1px solid #eaeff3;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5rem;
    .col-lg-2 {
      padding: 0;
    }
    .client-item {
      height: 190px;
      //width: 100%;
      border: 1px solid #eaeff3;
    }
  }
  .carousel {
    .carousel-item {
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #36a8ff;
    }
    .carousel-active {
      background-color: #ffaf36;
    }
  }
}

