/*-------------------------------------IMPORTS---------------------------------------*/
@import "application";
@import "form-item";
/*----------------------------------------------------------------------------------*/
.page-content {
  margin-bottom: 6.3rem;
}
.page-content-header {
  padding-top: 6.3rem;
  margin-top: 0;
}
.submit-comment {
  .container {
    padding-bottom: 101px;
  }
}
.address-section {
  overflow: hidden;
  position: relative;
  padding: 0;
  width: 1140px;
  height: 345px;
  background: #000;
  .address-pic {
    padding: 0;
    background: #000;
    opacity: 0.4;
  }
  .address{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
  }
}
