/*-------------------------------------IMPORTS---------------------------------------*/
@import "application";
@import "sprite-home-services";
/*----------------------------------------------------------------------------------*/
.home-banner{
  height: 500px;
  background: #000;
  overflow: hidden;
  .carousel-item {
    height: 500px;
  }
  .carousel-caption {
    left: 8%;
    top: 40%;
    width: 40%;
  }
  .carousel-indicators {
    left: 50%;
    width: 60%;
    margin-left: -30%;
   li {
     border: 1px solid #fff;
   }                              //to del
  }
  img {
    position: relative;
    display: block;
    top: 0;
    left: 50%;
    @include translate(-50%, 0);
    width: 100%;
    opacity: 0.4;
  }
}
.about-us-content {
  margin-top: 5.5rem;
}
.line {
  display: block;
  width: 14px;
  height: 4px;
  margin-bottom: 5px;
  .service-item:hover & {
    border-top: 2px solid  #36a8ff;
  }
}
.home-clients-section {
  .carousel-item {
    height: 310px;
  }
  .carousel-caption {
    bottom: 20px;
  }
  .testimonials {
    margin-bottom: 4rem;
    height: 200px;
  }
}
.comma{
  position: relative;
  &::before {
    content: "\275D";
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 200px;
    opacity: 0.1;
    .testimonial-item:first-child & {
      color: #1c1c1c;
    }
    .testimonial-item:nth-child(2) & {
      color: #36a8ff;
      opacity: 0.15;
    }
    .testimonial-item:last-child & {
      color: #ffaf36;
      opacity: 0.3;
    }
  }
}
.home-partners-section {
  .carousel-item {
    height: 135px;
    margin-bottom: 2.5rem;
  }
  .partners {
    height: 130px;
  }
  .carousel-indicators {
    top: 160px;
  }
  .client-item {
    height: 130px;
  }
  .partners {
    margin-right: 0;
    margin-left: 0;
    .col-lg-2 {
      padding: 0;
      border-right: 1px solid #eaeff3;
      border-top: 1px solid #eaeff3;
      border-bottom: 1px solid #eaeff3;
      &:first-child {
        border-left: 1px solid #eaeff3;
      }
    }
  }
}

