.facebook-icon {
  color: #496fa5;
}
.twitter-icon {
  color: #00baef;
}
.google-plus-icon {
  color: #eb4125;
}
.share-icon-size {
  font-size: 56px;
}
.reply-icon {
  padding: 6px;
  font-size: 13px;
  border: 1px solid #ffaf36;
  border-radius: 50%;
  color: #ffaf36;
  &:hover {
    opacity: 0.6;
  }
}
.footer-social-icons {
  margin-top: 2em;
  .social-item{
    margin-right: 6px;
  }
  .social-icon {
    display: block;
    padding: 3px;
    color: #8a8a8a;
    border: 1px solid #373839;
    &:hover {
      color: #ffaf36;
    }
  }
  .social-icon-size {
    font-size: 15px;
  }

}