/*-------------------------------------IMPORTS---------------------------------------*/
@import "application";
@import "form-item";
/*----------------------------------------------------------------------------------*/
.page-content {
  margin-bottom: 6.3rem;
}
.page-content-header {
  padding-top:6.3rem;
  margin-top: 0;
}
.search-questions  {
  .container {
    padding-bottom: 101px;
  }
}
.questions {
  counter-reset:  item;
}
.question-item {
  position: relative;
  padding-left: 50px;
  &::before {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 12px;
    transform: translate(-50%, 0);
    overflow: hidden;
    content: counter(item) ' ';
    counter-increment: item;
    @include open-sans(13px);
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-color: #ffaf36;
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}
.search {
  margin: 0 auto;
  .form-question {
    width: 750px;
    height: 47px;

    border: 1px solid #e0e7ec;
  }
  .form-search {
    width: 47px;
    height: 47px;
    padding: 0.5rem 0.5rem;
  }
}
