@import "mixin";
.site-header {
  z-index: 10;
  width: 100%;
  height: 95px;
  position: absolute;
  border-bottom:  1px solid rgba(221, 228, 234, 0.15);
  .site-logo {
    .logo-img {
      width: 164px;
      height: 34px;
    }
  }
  .container, .row {
    height: 100%;
  }
  .navbar-divider {
    height: 23px;
    background-color: rgba(221, 228, 234, 0.15);
    margin-right: 1.3rem;
    margin-left: 1.3rem;
  }
  .main-navigation {
    @include flex(0 0 66.666667%)
  }
  .margin-l-base {
    margin-left: 3em;
  }
}
.dropdown-menu {
  background-color: transparent;
  border: 1px solid rgba(221,228,234,0.15);
  border-radius: 0;
}
.dropdown-item:hover {
  color: #ffaf36 !important;
  background-color: rgba(245,245,245, 0.1);
}
.open>.dropdown-toggle {
  color:  #ffaf36;
}
