@import "share-buttons";
@import "quotation";
.blog-post {
  font: 14px "Open Sans", sans-serif;
  color: #585858;

  .blog-post-header {
    margin-bottom: 0.5rem;
  }
  .blog-post-content {
    margin-bottom: 2rem;
    .blog-post-pic {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .blog-post-footer {
    margin-bottom: 3.8rem;
  }

}
