.comments {
  .comment-item {
    padding-bottom: 3rem;
    border-bottom: 1px solid #e6e9ee;
    &:last-child {
      border-bottom: none;
    }
    margin-bottom: 2rem;
  }
  .reply-comments {
    .comment-item {
      margin-left: 7.5rem;
    }
  }
}