/*-------------------------------------IMPORTS---------------------------------------*/
@import "application";
@import "_blog-post";
@import "comment";
@import "form-item";
/*----------------------------------------------------------------------------------*/
.author-details{
  padding-bottom: 4.5rem;
  border-bottom: 1px solid #e6e9ee;
  margin-bottom: 4rem;
  .about-author {
    position: relative;
    padding-right: 5.8rem;
    padding-left: 3em;
    &::before{
      content: "";
      position: absolute;
      top: 97.5px;
      left: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;

      border-right:10px solid #36a8ff;
    }
  }
}
.comments-header {
  margin-bottom: 3rem;
}
.submit-comment{
  .container {
    padding-bottom: 101px;
  }
  .page-content-header {
    margin-top: 0;
    padding-top:6.3rem;
  }
}