/*-------------------------------------IMPORTS---------------------------------------*/
/*-------------------------------------RESET----------------------------------------*/
body ul, body ol, body li {
  list-style: none;
  padding: 0; }

body ul, body figure {
  margin: 0; }

@font-face {
  font-family: 'PNR';
  src: url("fonts/webfontkit-20161127-070003/PNR.otf");
  src: url("fonts/webfontkit-20161127-070003/pnr-webfont.woff2") format("woff2"), url("fonts/webfontkit-20161127-070003/pnr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.wrapper {
  font: 14px "Open Sans", sans-serif;
  color: #585858; }

body {
  font-size: 14px; }

.heading {
  font: 700 18px 'Raleway', sans-serif; }

.font-custom {
  font: italic 16px 'Lora', serif; }

.text-proxima {
  font: 600 13px 'PNR', sans-serif; }

.font-huge {
  font-size: 30px;
  font-weight: 800; }

.font-bold {
  font-weight: 700; }

.font-large {
  font-size: 16px; }

.font-medium {
  font-size: 15px; }

.line-h-base {
  line-height: 28px; }

.line-h-big {
  line-height: 30px; }

.line-h-medium {
  line-height: 24px; }

.text-black {
  color: #1c1c1c; }

.text-pale-blue {
  color: #dbefff; }

.text-dark-gray {
  color: #757575; }

.text-light-orange {
  color: #ffaf36; }

a {
  font: 14px "Open Sans", sans-serif;
  color: white;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

a:hover, a:active {
  color: #ffaf36; }

body .active {
  color: #ffaf36;
  border-color: #ffaf36; }

.facebook-icon {
  color: #496fa5; }

.twitter-icon {
  color: #00baef; }

.google-plus-icon {
  color: #eb4125; }

.share-icon-size {
  font-size: 56px; }

.reply-icon {
  padding: 6px;
  font-size: 13px;
  border: 1px solid #ffaf36;
  border-radius: 50%;
  color: #ffaf36; }
  .reply-icon:hover {
    opacity: 0.6; }

.call-to-action {
  width: 151px;
  height: 51px;
  border: 2px solid #ffaf36;
  margin-right: 15px;
  font: 700 13px 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #ffaf36;
  text-align: center;
  padding: 1rem 1rem; }
  .call-to-action:hover {
    opacity: 0.6; }

.submit-button {
  display: block;
  margin-top: 0.5rem;
  border-radius: 0; }

.hover-transition {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out; }

.bg-transp {
  background-color: transparent; }

.bg-blue {
  background-color: #36a8ff; }

.bg-light-blue {
  background-color: #eaeff3; }

.page-content-header {
  width: 100%;
  margin-top: 6.3rem;
  margin-bottom: 1.5rem; }

.form-border-b {
  border-bottom: 1px solid #dce3e8; }

.border-none {
  border: none; }

.resize-none {
  resize: none; }

.pagination-item {
  display: block;
  width: 51px;
  height: 51px;
  margin: 0 3px;
  border: 2px solid #2a2b2c;
  text-align: center;
  line-height: 2.5;
  font-size: 18px;
  color: #2a2b2c; }
  .pagination-item:hover {
    border: 2px solid #ffaf36;
    color: #ffaf36; }

.pyramids {
  position: relative; }
  .pyramids::before {
    position: absolute;
    bottom: 0;
    right: 60px;
    content: "";
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 101px solid #36a8ff; }
  .pyramids::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid #ffaf36; }

.flex-items-xl-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.flex-column {
  flex-direction: column; }

.site-header {
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 95px;
  position: absolute;
  border-bottom: 1px solid rgba(221, 228, 234, 0.15); }
  .site-header .site-logo {
    margin-top: 0.5rem; }
    .site-header .site-logo .logo-img {
      width: 164px;
      height: 34px; }
  .site-header .company-phone {
    margin-top: 2.3rem; }
    @media (min-width: 992px) {
      .site-header .company-phone .phone {
        padding-left: 13%;
        border-left: 1px solid rgba(221, 228, 234, 0.15); }
        .site-header .company-phone .phone .phone-img {
          margin-right: 3px; } }
  .site-header .main-navigation {
    margin-top: 2.3rem; }
  .site-header .margin-l-base {
    margin-left: 3em; }

.banner {
  height: 395px;
  background: #000;
  overflow: hidden; }
  .banner img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.4; }

.site-footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2a2b2c; }
  .site-footer .logo {
    display: block;
    margin-top: 3rem; }
  .site-footer .site-footer-copyright {
    margin-top: 1em; }
  .site-footer .footer-social-icons {
    margin-top: 2em; }
    .site-footer .footer-social-icons .social-icon-size {
      font-size: 30px; }
    .site-footer .footer-social-icons .facebook-icon {
      color: #8a8a8a; }
      .site-footer .footer-social-icons .facebook-icon:hover {
        color: #ffaf36; }
    .site-footer .footer-social-icons .twitter-icon {
      color: #8a8a8a; }
      .site-footer .footer-social-icons .twitter-icon:hover {
        color: #ffaf36; }
    .site-footer .footer-social-icons .google-plus-icon {
      color: #8a8a8a; }
      .site-footer .footer-social-icons .google-plus-icon:hover {
        color: #ffaf36; }
    .site-footer .footer-social-icons .linkedin-icon {
      color: #8a8a8a; }
      .site-footer .footer-social-icons .linkedin-icon:hover {
        color: #ffaf36; }
  .site-footer .footer-nav {
    margin-top: 1em; }
    .site-footer .footer-nav .footer-nav-item {
      position: relative;
      border-bottom: 1px solid #373839; }
      .site-footer .footer-nav .footer-nav-item a {
        display: block;
        padding: 1em 0 1em 25px;
        font-size: 13px;
        font-weight: 600;
        color: #7b7b7c; }
        .site-footer .footer-nav .footer-nav-item a::before {
          position: absolute;
          top: 1.5em;
          left: 0;
          content: "";
          width: 0;
          height: 0;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-left: 3px solid #ffaf36; }
        .site-footer .footer-nav .footer-nav-item a:hover {
          color: #ffaf36; }
  .site-footer .form {
    margin-top: 2rem; }
    .site-footer .form .form-border {
      border: 1px solid #373839; }
    .site-footer .form .name-email {
      display: inline-block;
      width: 50%;
      height: 47px;
      border: 1px solid #373839; }
      .site-footer .form .name-email[placeholder] {
        padding: 1em;
        color: #737476; }
    .site-footer .form .form-comment {
      width: 100%; }
      .site-footer .form .form-comment[placeholder] {
        padding: 1em;
        color: #737476; }

.share-buttons .share {
  vertical-align: 15px;
  text-transform: uppercase; }
.share-buttons .social-item {
  margin: 0; }
  .share-buttons .social-item:hover {
    opacity: 0.6; }
  .share-buttons .social-item [class^="icon-"]:before, .share-buttons .social-item [class*=" icon-"]:before {
    margin: 0 1px; }

.quotation {
  padding: 1.5rem 4.5rem 1.5rem 2.5rem;
  border-left: 4px solid #ffaf36;
  background-color: #fef1de; }

.blog-post {
  font: 14px "Open Sans", sans-serif;
  color: #585858; }
  .blog-post .blog-post-header {
    margin-bottom: 0.5rem; }
  .blog-post .blog-post-content {
    margin-bottom: 2rem; }
    .blog-post .blog-post-content .blog-post-pic {
      width: 100%;
      margin-bottom: 2rem; }
  .blog-post .blog-post-footer {
    margin-bottom: 3.8rem; }

/*----------------------------------------------------------------------------------*/
.page-content .container {
  padding-bottom: 6.3rem; }

.blog-post {
  margin-bottom: 4rem;
  border-bottom: 1px solid #e6e9ee; }
  li:last-child .blog-post {
    margin-bottom: 2.5rem; }
  .blog-post .blog-post-content {
    margin-bottom: 1.5rem; }

/*# sourceMappingURL=blog-page.css.map */
