
@font-face {
  font-family: 'PNR';
  src: url('fonts/webfontkit-20161127-070003/PNR.otf');
  src: url('fonts/webfontkit-20161127-070003/pnr-webfont.woff2') format('woff2'),
          url('fonts/webfontkit-20161127-070003/pnr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------RESET----------------------------------------*/
/*----------------------------------------------------------------------------------*/
body ul, body ol, body li {
  list-style:none;
  padding: 0;
}
 body ul,body figure {
  margin: 0;
}

$font-base: 14px;
@mixin open-sans ($font-size){
  font: $font-size 'Open Sans', sans-serif;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------IMPORTS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@import "_application";
@import "_share-buttons";
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
body {
  font-size: 14px;
}
.wrapper {
  @include open-sans($font-base);
  color: #585858;
}
.site-header {
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 95px;
  position: absolute;
  border-bottom:  1px solid rgba(221, 228, 234, 0.15);
  .site-logo {
    margin-top: 0.5rem;
    .logo-img {
      width: 164px;
      height: 34px;
    }
  }
  .company-phone {
    margin-top: 2.3rem;
    @include md {
      .phone {
        padding-left: 13%;
        border-left: 1px solid rgba(221, 228, 234, 0.15);
        .phone-img {
          margin-right: 3px;
        }
      }
    }
  }
  .main-navigation {
    margin-top: 2.3rem;
  }
}
.banner{
  height: 395px;
  background: #000;
  overflow: hidden;
  img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.4;
  }
}
.blog-page {
  .container {
    padding-top: 6.3rem;
    padding-bottom:  6.3rem;
  }
  .blog-page-header {
    margin-bottom: 1.5rem
  }
  .container {
    position: relative;
  }
}
.blog-post {
  border-bottom: 1px solid #e6e9ee;
  margin-bottom: 4rem;
  li:last-child &{
    margin-bottom: 2.5rem;
  }
  .blog-post-header {
    margin-bottom: 0.5rem;
  }
  .blog-post-content {
    margin-bottom: 1.5rem;
    .blog-post-pic {
      width: 100%;
      margin-bottom: 2rem;
    }
    .blog-post-text {
      line-height: 28px;
    }
  }
  .blog-post-footer {
    margin-bottom: 3.8rem;


  }
}
.site-footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2a2b2c;
  .logo {
    display: block;
    margin-top: 3rem;
  }
  .site-footer-copyright {
    margin-top: 1em;
  }
  .footer-social-icons {
    margin-top: 2em;
    .facebook-icon  {
      color: #8a8a8a;
      &:hover {
        color: #ffaf36;
      }
    }
    .twitter-icon  {
      color: #8a8a8a;
      &:hover {
        color: #ffaf36;
      }
    }
    .google-plus-icon  {
      color: #8a8a8a;
      &:hover {
        color: #ffaf36;
      }
    }
    .linkedin-icon  {
      color: #8a8a8a;
      &:hover {
        color: #ffaf36;
      }
    }
  }
  .footer-nav {
    margin-top: 1em;
    .footer-nav-item {
      position: relative;

      border-bottom: 1px solid #373839;

      a{
        display: block;
        padding: 1em 0 1em 25px ;
        font-size: 13px;
        font-weight: 600;
        color: #7b7b7c;
        &::before{
          position: absolute;
          top: 1.5em;
          left: 0;
          content: "";
          width: 0;
          height: 0;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-left: 3px solid #ffaf36;
        }
      }
    }
  }
  .form {
    margin-top: 2rem;
    .name-email {
      display: inline-block;
      width: 50%;
      height: 47px;
      border: 1px solid #373839;
      &[placeholder]  {
        padding: 1em;
        color: #737476;
      }
    }
    .comment {
      width: 100%;
      resize: none;
      &[placeholder]  {
        padding: 1em;
        color: #737476;
      }
    }
  }
}






