/*-------------------------------------IMPORTS---------------------------------------*/
@import "application";

@import "form-item";
/*----------------------------------------------------------------------------------*/
.call-to-action {
  //width: 300px;
}
.page-content-header {
  //margin-top: 0;
  padding-top:6.3rem;
}
.submit-comment {
  .container {
    padding-bottom: 101px;
  }
}
.address-pic {
  background: #000;
  opacity: 0.4;
}