!!!
%html{lang:"en"}
%head
  %meta{charset: "UTF-8"}
  %link{rel:"stylesheet", type:"text/css", href:"../../dist/css/normalize.css"}
  %link{rel:"stylesheet", type:"text/css", href:"../../bower_components/bootstrap/dist/css/bootstrap-flex.min.css"}
  %link{rel:"stylesheet", type:"text/css", href:"../../dist/css/contact-us-page.css"}
  %meta{name:"viewport", content:"width:device-width, initial-scale=1, user-scalable:no, maximum-scale=1"}
  %link{href:"../../bower_components/google-font-lora/lora.css", rel:"stylesheet"}
  %link{href:"../../bower_components/google-font-open-sans/openSans.css", rel:"stylesheet"}
  %link{href:"../../bower_components/google-font-raleway/raleway.css", rel:"stylesheet"}
  %link{rel:"stylesheet", href:"../../app/fonts/fontello-929d8335/css/fontello.css"}
  %link{rel:"stylesheet", href:"../../bower_components/simple-line-icons/css/simple-line-icons.css"}
  %title B PLUS/contact-us
  %body
    .wrapper
      %header#masthead.site-header.navbar
        .container
          .row.flex-items-lg-middle
            %h1.site-logo
              %a.navbar-brand{href: "index.html"}
                %img.logo-img{alt: "BUSINESS PLUS", src: "../../app/images/businessplus-logo.png"}
            %span.navbar-divider.hidden-md-down
            .company-phone
              %a.phone{href: "tel:+9978 8856 999"}
                %span.icon-call-out.text-light-orange{"aria-hidden" => "true"}
                +1 212-532-1256
            %nav#site-navigation.main-navigation.flex-items-lg-right.navbar-nav.media{role: "navigation"}
              %ul.media
                %li.margin-l-base
                  %a{href: "index.html"} Home
                %li.margin-l-base
                  %a{href: "about-us-page.html"} About us
                %li.margin-l-base
                  %a{href: "services-page.html"} services
                %li.margin-l-base
                  %a{href: "news-page.html"} news
                %li.margin-l-base
                  %a{href: "blog-page.html"} blog
                %li.margin-l-base.dropdown
                  %a#dropdownMenuLink.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: ""}
                    pages
                  .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
                    %a.dropdown-item.text-white{href: "faq-page.html"} faq
                    %a.dropdown-item.text-white{href: "careers-page.html"} careers
                    %a.dropdown-item.text-white{href: "testimonial-page.html"} Testimonial
                %li.margin-l-base
                  %a.active{href: "contact-us-page.html"} Contact Us
      %section.site-banner
        %img{alt: "Banner image", src: "../../app/images/layer-20.jpg"}
      %section#contact-us.page-content.pb-base
        .container
          .row
            %header.page-content-header
              %h1.heading.font-huge.font-extra-bold.text-black.text-uppercase.line-h-medium Get in touch
              %h2.font-custom.line-h-big.text-black Feel free to contact us
            .row.flex-items-lg-between.w-100.flex-items-lg-middle.mb-2
              .company-phone.col-lg-2
                %a.phone.text-black.font-bold.font-large{href: "tel:+9978 8856 999"}
                  %span.icon-call-out.text-light-orange{"aria-hidden" => "true"}
                  +1 212-532-1256
              %a.call-to-action.col-lg-3.hover-transition.hover-visibility.m-r-base-minus{href: ""}
                info@businessplus.com
            %section.address-section.col-lg-12
              %img.address-pic{alt: "Address-picture", height: "345", src: "../../app/images/layer-119.jpg", width: "1140"}
              %address.address.heading.text-uppercase
                %span.country-name.font-huge.font-extra-bold.text-light-orange.line-h-medium Canada
                %p.text-white.font-large.line-h-medium
                  %span.street-address 100 Mission St,
                  %span.extended-address Canada street, Second flor
                  %span.postal-code 8878
      %section.submit-comment.bg-light-blue
        .container.pyramids.pb-base
          .row.d-block
            %header.page-content-header
              %h1.heading.font-huge.font-extra-bold.text-black.text-uppercase.line-h-medium Leave your comment
              %h2.font-custom.line-h-big.text-black Submit your comments now
            .row
              %form.col-lg-12
                %ul.mb-2
                  %li.form-border-b
                    %input.form-name.form-item.form-control.bg-transp.border-none.text-uppercase{name: "follow-up[name]", placeholder: "Name *", type: "text"}
                  %li.form-border-b
                    %input.form-email.form-item.form-control.bg-transp.border-none.text-uppercase{name: "follow-up[email]", placeholder: "Email Address *", type: "email"}
                  %li.form-border-b
                    %input.form-phone.form-item.form-control.bg-transp.border-none.text-uppercase{name: "follow-up[phone]", placeholder: "PHone number *", type: "tel"}
                  %li.form-border-b
                    %input.form-service.form-item.form-control.bg-transp.border-none.text-uppercase{name: "follow-up[service]", placeholder: "Service *", type: "text"}
                  %li.form-border-b
                    %textarea.form-comment.form-item.form-control.bg-transp.border-none.resize-none.text-uppercase{cols: "1", name: "follow-up[comment]", placeholder: "Comment *", rows: "11"}
                %button.submit-button.call-to-action.btn.hover-transition.bg-transp.hover-visibility{name: "follow-up[submit]", type: "submit"}
                  Submit Now
      %footer#site-footer.site-footer{role: "contentinfo"}
        .container
          .row
            .col-lg-3
              %a.logo{href: "index.html"}
                %img{alt: "BUSINESS PLUS", src: "../../app/images/businessplus-logo.png"}
              %p.site-footer-copyright 2015 © lawyer.
              %ul.footer-social-icons.media
                %li.social-item
                  %a{href: ""}
                    %span.facebook-icon.hover-transition
                      %i.icon-facebook-1.social-icon.social-icon-size{"aria-hidden" => "true"}
                %li.social-item
                  %a{href: ""}
                    %span.twitter-icon.hover-transition
                      %i.icon-twitter-1.social-icon.social-icon-size{"aria-hidden" => "true"}
                %li.social-item
                  %a{href: ""}
                    %span.google-plus-icon.hover-transition
                      %i.icon-gplus-1.social-icon.social-icon-size{"aria-hidden" => "true"}
                %li.social-item
                  %a{href: ""}
                    %span.linkedin-icon.hover-transition
                      %i.icon-linkedin-1.social-icon.social-icon-size{"aria-hidden" => "true"}
            .col-lg-2.offset-lg-1
              %h6.heading.text-white.text-uppercase.line-h-medium Navigation
              %ul.footer-nav
                %li.footer-nav-item
                  %a{href: "index.html"} Home
                %li.footer-nav-item
                  %a{href: "about-us-page.html"} About us
                %li.footer-nav-item
                  %a{href: "services-page.html"} services
                %li.footer-nav-item
                  %a{href: "testimonial-page.html"} testimonial
                %li.footer-nav-item
                  %a{href: "blog-page.html"} blog
                %li.footer-nav-item
                  %a{href: "contact-us-page.html"} Contact Us
            .col-lg-5.offset-lg-1.quick-contact
              %h6.heading.text-white.text-uppercase.line-h-medium Quick contact us
              %form.footer-form{role: "form"}
                .media
                  %input#footer-form-name.form-name.form-item.form-control.bg-transp.form-border{name: "follow-up[name]", placeholder: "Name *", type: "text"}
                  %input#footer-form-email.form-email.form-item.form-control.bg-transp.form-border{name: "follow-up[email]", placeholder: "Email *", type: "email"}
                %textarea#footer-form-comment.form-comment.form-item.form-control.bg-transp.form-border.resize-none{cols: "50", name: "follow-up[comment]", placeholder: "Comment *", rows: "5"}
                %button.submit-button.call-to-action.btn.hover-transition.bg-transp.text-uppercase.hover-visibility{name: "follow-up[submit]", type: "submit"}
                  Submit Now
    %script{src: "../../bower_components/jquery/dist/jquery.min.js"}
    %script{src: "../../bower_components/tether/dist/js/tether.min.js"}
    %script{src: "../../bower_components/bootstrap/dist/js/bootstrap.min.js", type: "text/javascript"}